<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="RedirectUserFriendlyURL1" enabled="true" stopProcessing="true">
                    <match url="^Properties\.php$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                        <add input="{QUERY_STRING}" pattern="^Action=([^=&amp;]+)$" />
                    </conditions>
                    <action type="Redirect" url="Properties/{C:1}" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL1" enabled="true" stopProcessing="true">
                    <match url="^Properties/([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Properties.php?Action={R:1}" />
                </rule>
                <rule name="RedirectUserFriendlyURL2" enabled="true" stopProcessing="true">
                    <match url="^Properties\.php$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                        <add input="{QUERY_STRING}" pattern="^Action=([^=&amp;]+)&amp;PropertyID=([^=&amp;]+)$" />
                    </conditions>
                    <action type="Redirect" url="Properties/{C:1}/{C:2}" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL2" enabled="true" stopProcessing="true">
                    <match url="^Properties/([^/]+)/([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Properties.php?Action={R:1}&amp;PropertyID={R:2}" />
                </rule>
                <rule name="RedirectUserFriendlyURL3" stopProcessing="true">
                    <match url="^inc/RoomDeleteRoom\.inc$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                        <add input="{QUERY_STRING}" pattern="^RoomID=([^=&amp;]+)$" />
                    </conditions>
                    <action type="Redirect" url="inc/RoomDeleteRoom/{C:1}" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL3" stopProcessing="true">
                    <match url="^inc/RoomDeleteRoom/([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="inc/RoomDeleteRoom.inc?RoomID={R:1}" />
                </rule>
                <rule name="RedirectUserFriendlyURL4" stopProcessing="true">
                    <match url="^Properties\.php$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                        <add input="{QUERY_STRING}" pattern="^Action=([^=&amp;]+)&amp;RoomID=([^=&amp;]+)$" />
                    </conditions>
                    <action type="Redirect" url="{C:1}/{C:2}" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL4" stopProcessing="true">
                    <match url="^([^/]+)/([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Properties.php?Action={R:1}&amp;RoomID={R:2}" />
                </rule>
            </rules>
            <outboundRules>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
